/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*****************************************************************************/

/*PLANET ZOO FONT - WWW.FFONTS.NET*/
@font-face {
    font-family: 'OPTIEagle-Bold';
    src: url(OPTIEagle-Bold.otf);
    font-display: swap;
}

body, html {
    margin: 0; 
    height: 100%;
    background-image: url("zoo-overview.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.container {
    width: 60%;
    margin: 0 auto; 
    background-color: #E1E1E1;
    padding: 100px;
    border: 2px solid #759b75;
}

header {
    background-color: #9ace9a;
    padding: 40px;
    margin-bottom: 95px;
}

h1 {
    font-family:'OPTIEagle-Bold', Arial, Helvetica, sans-serif;
    font-size: 38px;
    text-align: center;
    color: #222222;
}

#result {
    height: 50px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    padding-top: 50px;
    width: 500px;
    max-width: 70%;
    background-color: #F1F1F1;
    border: 1px solid black;
}

.buttons {
    display: block;
    margin: 0 auto;
    text-align: center;
}

button:hover {
    cursor: pointer;
}

.btn {
    padding:0.6em 1em;
    border-radius: 8px;
    color:#fff;
    background-color:#595959;
    font-size:1.1em;
    border:0;
    margin:1em;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.btn:hover {
    background-color: #656565;
}

h2 {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 35px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #222222;
}

footer p {
    font-size: 20px;
    color: #222222;
    text-align: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: #222222;
}

a:hover {
    color: #656565;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6b9c6b;
}

/*FOR MOBILE PHONES*/
@media only screen and (max-width: 500px) {
    body, html {
        background-image: none;
    }
    header {
        background-color: #9ace9a;
        padding: 40px;
        margin-bottom: 0px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 70px;
        border-left: none;
        border-right: none;
    }
    .buttons {
        padding-bottom: 10px;
    }
    footer {
        left: 0;
        bottom: 0;
        width: 100%;
        position:initial;
    }
}
